* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fundo {
  background-image: linear-gradient(90deg, #3498db, #ffc107);
  background-size: 400% 400%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculadora {
  position: absolute;
  background-color: #f9f9f9;
  color: #2c3e50;
  font-family: 'Lora', serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
}

.botão {
  width: 50px;
  height: 50px;
  background-color: #ffa07a;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.botão:hover {
  background-color:#ffc107;
}

#resultado {
  background-color: #fff;
  color: #2c3e50;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}